
@font-face {font-family: "Benz";
  src: url('iconfont.eot?t=1481525540537'); /* IE9*/
  src: url('iconfont.eot?t=1481525540537#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481525540537') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481525540537') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481525540537#Benz') format('svg'); /* iOS 4.1- */
}

.Benz {
  font-family:"Benz" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.Benz-I:before { content: "\49"; }

.Benz-A:before { content: "\41"; }

.Benz-D:before { content: "\44"; }

.Benz-F:before { content: "\46"; }

.Benz-L:before { content: "\4c"; }

.Benz-M:before { content: "\4d"; }

.Benz-R:before { content: "\52"; }

.Benz-iconfontcolor84:before { content: "\e6c6"; }

.Benz-S:before { content: "\53"; }

.Benz-E:before { content: "\45"; }

.Benz-dd:before { content: "\64"; }

.Benz-T:before { content: "\54"; }

.Benz-G:before { content: "\47"; }

.Benz-maximize:before { content: "\55"; }

.Benz-N:before { content: "\4e"; }

.Benz-V:before { content: "\56"; }

.Benz-B1:before { content: "\79"; }

.Benz-W:before { content: "\57"; }

.Benz-X:before { content: "\58"; }

.Benz-Y:before { content: "\59"; }

.Benz-Z:before { content: "\5a"; }

.Benz-P:before { content: "\50"; }

.Benz-zz:before { content: "\7a"; }

.Benz-K:before { content: "\4b"; }

.Benz-B:before { content: "\42"; }

.Benz-J:before { content: "\4a"; }

.Benz-aa:before { content: "\61"; }

.Benz-Q:before { content: "\51"; }

.Benz-cc:before { content: "\63"; }

.Benz-bb:before { content: "\62"; }

.Benz-O:before { content: "\4f"; }

.Benz-H:before { content: "\48"; }

.Benz-C:before { content: "\43"; }

